<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>欢迎加入我们</title>
    <style>

    </style>
</head>
<body style="background-color: #F5DEB3;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
            padding: 20px;">

<h1 style=" font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;" th:text="|Hello,${nickName} :|"></h1><br/>
<p style="  margin-bottom: 10px;" >欢迎使用Cang</p>
<p style="  margin-bottom: 10px;">如果您有任何问题或建议，请随时联系我们。</p>
<a style=" display: inline-block;
            padding: 10px 20px;
            background-color: #FFA500;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;" href="https://jdfcc.pro" class="btn">了解更多</a>
</body>
</html>
