<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Cang.mapper.ChatMapper">


    <select id="selectLast" resultType="com.Cang.dto.ChatDto">
        select tb_chat.id                  id,
               send,
               receive,
               message,
               max(tb_chat.create_time) as createTime,
               `like`,
               user_key,
               icon                        avatar,
               nick_name                   nickName
        from tb_chat
                 join tb_user
        where user_key in (SELECT user_key
                           FROM tb_chat
                           WHERE receive = #{userid}
                              OR send = #{userid}
                           ORDER BY tb_chat.create_time ASC)
        GROUP BY user_key;
    </select>

    <select id="selectDtos" resultType="com.Cang.dto.ChatDto">
        SELECT tb_chat.id id, icon avatar, message, send, receive
        FROM tb_chat
                 JOIN
             tb_user
        WHERE send = tb_user.id
          AND user_key = #{userKey}
        ORDER BY tb_chat.create_time ASC;
    </select>

</mapper>
