<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Cang.mapper.ChatMapper">


    <select id="queryChatList" resultType="java.lang.String" parameterType="long">
        <!-- 查询与指定用户有过聊天记录的用户列表 -->
        SELECT DISTINCT user_key
        FROM tb_chat
        WHERE send=#{userid} or receive=#{userid};
    </select>

    <select id="selectLast" resultType="com.Cang.entity.Chat" >
        select id, send, receive, message, max(create_time) as createTime, `like`, user_key
        from tb_chat
        where user_key in (SELECT user_key
                           FROM tb_chat
                           WHERE receive = #{userid}
                              OR send = #{userid})
        GROUP BY user_key;
    </select>

</mapper>
